{% extends 'blog/base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
{% for message in messages %}
<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
{{ message }}
</li>
{% endfor %}
</ul>
{% endif %}

<h2> {{post.title}}</h2>

<img src = "{{post.photo.url}}">
<hr/>
{{ post.content }}
<hr/>

{% for comment in comment_list %}
{{comment.author}} : {{comment.content}}
<br/>
{% endfor %}

 <a href = "{% url "blog:comments_new" post.pk %}">댓글 작성</a>
<br/>
<br/>
<a href={% url "blog:index" %}>글목록으로</a>
<br/>






{% endblock %}